@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #121a27;
    color: whitesmoke;
    overflow: auto;
}

footer {
    text-align: center;
    color: gainsboro;
    opacity: 0.5;
    font-family: 'Montserrat';
    font-weight: 100;
    transform: translateY(400px);
    text-transform: uppercase;

}

p {
    line-height: 15px;
    font-size: 15px;
    margin: 5px;
}

.nav {
    display: sticky;
}

header {
    display: flex;
    background-color: #24252A;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    overflow: hidden;
    z-index: 100;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    display: block;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: #0088a9;
    color: #edf0f1;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 22px;
    cursor: pointer;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 2px 1px rgba(0, 0, 0.24);
}

button:hover {
    background-color: #edf0f1;
    color: #0088a9;
    background-position: 100% 0;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

button:focus {
    outline: none;
}

.navlink {
    list-style: none;
}

.navlink li {
    display: inline-block;
    padding: 0px 10px;
}

.navlink li a {
    transition: all 0.3s ease 0s;
}

.navlink li a:hover {
    color: #0088a9;
}

#coffee-beans-left {
    cursor: pointer;
    max-width: 45px;
    vertical-align: middle;
    position: relative;
    margin-right: 15px;
    left: -45px;
}

#primary, #secondary {
    transition: all 1s ease;
}

svg:hover #secondary {
    transform: translate(-2px, 2%);
}

svg:hover #primary {
    transform: translateY(-4.5px);
}

.logo {
    font-size: 25px;
    position: absolute;
    vertical-align: middle;
    padding: 5px;
}

.logo:hover {
    transition: all 1s ease;
    color:#0088a9;
}

.cover {
    width: 100%;
    height: 45%;
    object-fit: cover;
    object-position: 0% 75%;
}

.wrapper {
    text-align: center;
    line-height: 80px;
    padding: 5vh;
}

.auto-type {
    color:#0088a9;
}

.slogan {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 100;
    margin: 0px;
    padding: 0px;
}

#title {
    font-size: 150px;
    font-family: 'Montserrat';
    font-weight: 100;
    margin-bottom: 0px;
}

#title-about {
    font-size: 125px;
    font-family: 'Montserrat';
    font-weight: 100;
    margin-bottom: 0px;
}

section {
    margin: 10px;
    padding: 25px;
}

#new {
    font-size: 10vh;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 110;
}

.sticky + .content {
    padding-top: 60px;
  }

.home-content {
    margin: 35px;
    padding: 20px;
    transform: translateY(125px);
}

#Layer_1 {
    display: block;
    margin: auto;
    padding-top: 40px;
    max-width: 50px;
    animation: bubbleBounce 2s infinite;
}

#latest-news {
    display: absolute;
    z-index: 10;
    transform: TranslateY(35px);
    text-align: left;
    background: #121a27;
    font-size: 75px;
    font-family: 'Montserrat';
    font-weight: 100;
}

#latest-patch-notes {
    font-size: 75px;
    font-family: 'Montserrat';
    font-weight: 100;
}

.rss-widget {
    height: 500px;
}

.about-image-wrapper {
    width: 300px;
    height: auto;
    cursor: pointer;
}

.about-cafe-img {
    background-image: url(images/about-cafe.jpg);
    aspect-ratio: 5/7;
    width: 100%;
    background-size: cover;
    background-position: 35%;
    border-radius: 20px;
}

.about-image-wrapper:hover .about-cafe-img,
.about-image-wrapper:focus .about-cafe-img {
  transition: all 1s;
  transform: scale(1.1);
}

.about-cafe {
    display: flex;
    flex-direction: row;
    height: 40rem;
    transform: translateY(120px);
}

.about-cafe-description h3 {
    padding: 10px;
    margin-left: 20px;
    font-size: 55px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-transform: uppercase;
}

.about-cafe-description p {
    padding: 10px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 100;
    line-height: 125%;
}

.about-author-wrapper {
    width: 300px;
    height: auto;
    cursor: pointer;
}

.about-author-img {
    background-image: url(images/jay.jpg);
    aspect-ratio: 5/7;
    width: 100%;
    background-size: cover;
    background-position: 35%;
    border-radius: 20px;
}

.about-author-wrapper:hover .about-author-img,
.about-author-wrapper:focus .about-author-img {
  transition: all 1s;
  transform: scale(1.1);
}

.about-author {
    display: flex;
    flex-direction: row;
    height: 30rem;
    transform: translateY(0px);
}

.about-author-description h3 {
    padding: 10px;
    margin-right: 20px;
    font-size: 55px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
}

.about-author-description p {
    padding: 10px;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 100;
    line-height: 125%;
    text-align: right;
}

.author-links {
    margin-top: 30px;
}

.author-links h3 {
    padding: 20px;
    font-size: 75px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

  /* DO NOT CHANGE CSS LINES BELOW*/
@media screen and (max-width: 600px) {
    .navlink li a{
    float: none;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5px;
    }
    header {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    .logo {
        display: none;
    }
    svg {
        left: auto;
        margin: auto;
    }
    .login {
        margin: 5px;
    }
  }

  @keyframes bubbleBounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
  }

  .fade-in {
    opacity: 1;
    transition: 500ms all ease;
  }

  .fade-out {
    opacity: 0;
    transition: 500ms all ease;
  }
   
  .fakeScreen {
    background-color: #151515;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 10px 0px 10px;
  }
  
  .line1, .line2, .line3, .line4, .line5 {
    position: relative;
    margin-left: 10px;
    text-align: left;
    font-size: 1.25em;
    font-family: monospace;
    overflow: hidden;
    line-height: 20px;
  }
  
  .line1 {
    color: #ffff33;
  }
  
  .line2, .line3, .line4, .line5 {
    color: #00ff00;
  }
  
  .cursor5 {
    -webkit-animation: blink 1s .5s infinite;
    -moz-animation: blink 1s .5s infinite;
    -o-animation: blink 1s .5s infinite;
    animation: blink 1s .5s infinite;
  }
  
  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-moz-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-o-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes type {
    to {
      width: 17em;
    }
  }
  
  @-moz-keyframes type {
    to {
      width: 17em;
    }
  }
  
  @-o-keyframes type {
    to {
      width: 17em;
    }
  }
  
  @keyframes type {
    to {
      width: 17em;
    }
  }